[Desktop Entry]
Encoding=UTF-8
Name=iriverter
Comment=Convert videos for your handheld device
Exec=iriverter
Icon=iriverter.png
Type=Application
Categories=Application;AudioVideo;
Terminal=false
StatupNotify=true
